<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Home</a>
    </div>
    <div>
        <ul class="navigation-items">
            <li>
                <a routerLink="/groups">Afdelingen</a>
            </li>
            <li>
                <a routerLink="/inbox">Inbox</a>
            </li>
            <li>
                <a routerLink="/account">Account</a>
            </li>
        </ul>
    </div>
</mat-toolbar>